[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.21"
djangorestframework = "*"
pylint = "*"
graphviz = "*"
dj-database-url = "*"
psycopg2-binary = "*"
psycopg2 = "*"
whitenoise = "*"
environs = {extras = ["django"], version = "*"}
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
